<% messages.forEach(message => { %>

<div class="message card">

    <p><%= message.title %></p>
    <p><%= message.boy_text %></p>

    <% if(user.role !== "user"){ %>
        <small>
            <%= message.username %>
        </small>
        <small>
            <%= message.created_at %>
        </small>
    <% } %>

    <% if(user.role === "admin"){ %>
        <form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <% } %>

</div>

<% }) %>