<% messages.forEach(message => { %>

<div class="message-card">
    <h2><%= message.title %></h2>
    <p><%= message.boy_text %></p>

    <% if(user.role !== "user"){ %>
        <small>
            <%= message.username %>
        </small>
        <small>
            <%= message.created_at %>
        </small>
    <% } %>

    <% if(user.role === "admin"){ %>
        <form action="/messages/<%= message.messageid %>?_method=DELETE" method="POST">
            <div class="del-btn">
                <button type="submit">Delete</button>
            </div>
        </form>
    <% } %>

</div>

<% }) %>