<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Members Only</h1>
        <p>Welcome <%= user ? user.username : "Guest" %></p>
        <h1><%=user.role%></h1>
    </header>
    <main>
        
        <% if(user.role === "user"){ %>
            <button onclick="popup.showModal()">Join The Club</button>
            <%- include("partials/joinForm") %>
            <% } %>
            
            <% if(user.role === "member" || user.role === "admin"){ %>
                <%- include("partials/messageForm") %>
                <% } %>
                <section class="messages">
                    <%- include("partials/messageList", {messages: messages}) %>
                </section>
    </main>
</body>
</html>